Repository ProfileManifests/ProfileManifests, pull requests merged in 2019-09, with the labels that each got.

#144 Standalone Unarchiver
  Manifests/ManagedPreferencesApplications/com.macpaw.site.theunarchiver.plist
Labels: :memo:new manifest

#147 EndNote configuration
  Icons/ManagedPreferencesApplications/com.ThomsonResearchSoft.EndNote.png
  Manifests/ManagedPreferencesApplications/com.ThomsonResearchSoft.EndNote.plist
Labels: :memo:new manifest

#146 com.jamf.connect.login-OpenID.plist
  Manifests/ManagedPreferencesApplications/com.jamf.connect.login-OpenID.plist
Labels: :hammer_and_wrench:update manifest

#150 com.jamf.connect.login-OpenID.plist
  Manifests/ManagedPreferencesApplications/com.jamf.connect.login-OpenID.plist
Labels: :hammer_and_wrench:update manifest

#152 Update com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench:update manifest

#151 Addition of Logic Pro QuickHelpMode toggle
  Manifests/ManagedPreferencesApplications/com.apple.logic10.plist
Labels: :hammer_and_wrench:update manifest

#154 Motion manifest and icon
  Icons/ManagedPreferencesApplications/com.apple.motionapp.png
  Manifests/ManagedPreferencesApplications/com.apple.motionapp.plist
Labels: :memo:new manifest

#153 Compressor manifest and icon
  Icons/ManagedPreferencesApplications/com.apple.Compressor.png
  Manifests/ManagedPreferencesApplications/com.apple.Compressor.plist
Labels: :memo:new manifest

#142 Add v68 Firefox Policies
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench:update manifest

#160 Add allowActivityContinuation
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench:update manifest

#161 Add KeyIsExtractable
  Manifests/ManifestsApple/com.apple.security.scep.plist
Labels: :hammer_and_wrench:update manifest

#162 Add new 10.15 System Preferences panes
  Manifests/ManifestsApple/com.apple.systempreferences.plist
Labels: :hammer_and_wrench:update manifest

#163 Update Notifications manifests for iOS & macOS
  Manifests/ManifestsApple/com.apple.notificationsettings-iOS.plist
  Manifests/ManifestsApple/com.apple.notificationsettings-macOS.plist
Labels: :hammer_and_wrench:update manifest, :memo:new manifest
