Repository ProfileManifests/ProfileManifests, pull requests merged in 2019-08, with the labels that each got.

#109 Update com.microsoft.SkypeForBusiness.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.SkypeForBusiness.plist
Labels: :warning:fix manifest

#111 Update com.microsoft.office.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.office.plist
Labels: :warning:fix manifest

#112 Update com.microsoft.autoupdate2
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :hammer_and_wrench:update manifest

#119 Update com.microsoft.Office365ServiceV2.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Office365ServiceV2.plist
Labels: :hammer_and_wrench:update manifest

#120 Update com.microsoft.rdc.macos.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.rdc.macos.plist
Labels: :warning:fix manifest

#121 Update com.microsoft.autoupdate.fba.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate.fba.plist
Labels: :hammer_and_wrench:update manifest

#124 Update com.microsoft.office.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.office.plist
Labels: :hammer_and_wrench:update manifest

#125 Update com.microsoft.rdc.macos
  Manifests/ManagedPreferencesApplications/com.microsoft.rdc.macos.plist
Labels: :hammer_and_wrench:update manifest

#126 com.microsoft.AppNames
  Manifests/ManagedPreferencesApplications/com.microsoft.Excel.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Office365ServiceV2.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Outlook.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Powerpoint.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Word.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.onenote.mac.plist
Labels: :hammer_and_wrench:update manifest

#127 Update com.microsoft.autoupdate.fba
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate.fba.plist
Labels: :hammer_and_wrench:update manifest

#110 Add RecentWhatsNewPanelVersion preference to GarageBand & Logic
  Manifests/ManagedPreferencesApplications/com.apple.garageband10.plist
  Manifests/ManagedPreferencesApplications/com.apple.logic10.plist
  Manifests/index
Labels: :hammer_and_wrench:update manifest

#134 Various updates / new profiles
  Manifests/ManagedPreferencesApple/com.apple.safari.plist
  Manifests/ManagedPreferencesApplications/cx.c3.thunarchiver.plist
  Manifests/ManagedPreferencesApplications/org.videolan.vlc.plist
Labels: :hammer_and_wrench:update manifest

#115 Add com.jamf.connect.shares
  Icons/ManagedPreferencesApplications/com.jamf.connect.shares.png
  Manifests/ManagedPreferencesApplications/com.jamf.connect.shares.plist
Labels: :memo:new manifest

#136 com.microsoft.autoupdate2
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :hammer_and_wrench:update manifest

#138 Minor typo fixes in EC profile manifest
  Manifests/ManagedPreferencesApplications/com.apple.Enterprise-Connect.plist
Labels: :hammer_and_wrench:update manifest

#139 Add manifest and icon for Slack
  Icons/ManagedPreferencesApplications/com.tinyspeck.slackmacgap.png
  Manifests/ManagedPreferencesApplications/com.tinyspeck.slackmacgap.plist
Labels: :memo:new manifest

#137 New payload to disable iCloud Save defaults
  Manifests/ManagedPreferencesApple/com.apple.GlobalPreferences.plist
Labels: :hammer_and_wrench:update manifest
