Repository ProfileManifests/ProfileManifests, pull requests merged in 2020-01, with the labels that each got.

#197 DigiDNA tvOS Restrictions update
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
Labels: :hammer_and_wrench:update manifest

#198 Overhaul of touristd
  Manifests/ManagedPreferencesApple/com.apple.touristd.plist
Labels: :hammer_and_wrench:update manifest

#194 DigiDNA MCX Improvements
  Manifests/ManifestsApple/com.apple.MCX-EnergySaver.plist
  Manifests/ManifestsApple/com.apple.MCX-MobileAccounts.plist
  Manifests/ManifestsApple/com.apple.MCX-TimeServer.plist
Labels: :hammer_and_wrench:update manifest, :warning:fix manifest

#202 Remove FilesOnDemandPolicy and clarify description for FileOnDemandEn…
  Manifests/ManagedPreferencesApplications/com.microsoft.OneDrive.plist
Labels: :hammer_and_wrench:update manifest, :warning:fix manifest

#203 Add com.apple.icloud.managed.plist
  Manifests/ManagedPreferencesApple/com.apple.icloud.managed.plist
Labels: :memo:new manifest

#204 Wifi update
  Manifests/ManifestsApple/com.apple.wifi.managed.plist
Labels: :hammer_and_wrench:update manifest

#205 Update iOS Restrictions
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
Labels: :hammer_and_wrench:update manifest

#206 Update com.apple.eas.account
  Manifests/ManifestsApple/com.apple.eas.account.plist
Labels: :hammer_and_wrench:update manifest

#207 Update macOS Restrictions
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench:update manifest

#208 Update tvOS Restrictions
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
Labels: :hammer_and_wrench:update manifest

#209 Add pfm_note regarding Enable<service> prefs not all set to false
  Manifests/ManifestsApple/com.apple.eas.account.plist
Labels: :hammer_and_wrench:update manifest

#210 Initial commit of Microsoft Edge Manifest
  Icons/ManagedPreferencesApplications/com.microsoft.Edge.png
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :memo:new manifest

#211 menu.nomad.shares
  Manifests/ManagedPreferencesApplications/menu.nomad.shares.plist
Labels: :hammer_and_wrench:update manifest

#201 Update com.apple.loginitems.managed.plist
  Manifests/ManifestsApple/com.apple.loginitems.managed.plist
Labels: :hammer_and_wrench:update manifest, :warning:fix manifest

#212 Update menu.nomad.login.ad.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.login.ad.plist
Labels: :hammer_and_wrench:update manifest

#214 Update Microsoft Edge
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench:update manifest

#215 Update AirPrint
  Manifests/ManifestsApple/com.apple.airprint.plist
Labels: :hammer_and_wrench:update manifest

#217 DigiDNA Edge tweaks
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench:update manifest

#219 DigiDNA Firefox tweak
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench:update manifest
