Repository ProfileManifests/ProfileManifests, pull requests merged in 2020-04, with the labels that each got.

#246 Update menu.nomad.login.ad.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.login.ad.plist
Labels: :hammer_and_wrench:update manifest

#247 Update menu.nomad.login.ad.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.login.ad.plist
Labels: :hammer_and_wrench:update manifest, :warning:fix manifest

#248 Update menu.nomad.login.ad.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.login.ad.plist
Labels: :hammer_and_wrench:update manifest

#249 Update Content Cache manifest
  Manifests/ManifestsApple/com.apple.AssetCache.managed.plist
Labels: :hammer_and_wrench:update manifest

#250 Add 802.11x wired manifests
  Icons/ManifestsApple/com.apple.firstactiveethernet.managed.png
  Icons/ManifestsApple/com.apple.firstethernet.managed.png
  Icons/ManifestsApple/com.apple.globalethernet.managed.png
  Icons/ManifestsApple/com.apple.secondactiveethernet.managed.png
  Icons/ManifestsApple/com.apple.secondethernet.managed.png
  Icons/ManifestsApple/com.apple.thirdactiveethernet.managed.png
  Icons/ManifestsApple/com.apple.thirdethernet.managed.png
  Manifests/ManifestsApple/com.apple.firstactiveethernet.managed.plist
  Manifests/ManifestsApple/com.apple.firstethernet.managed.plist
  Manifests/ManifestsApple/com.apple.globalethernet.managed.plist
  Manifests/ManifestsApple/com.apple.secondactiveethernet.managed.plist
  Manifests/ManifestsApple/com.apple.secondethernet.managed.plist
  Manifests/ManifestsApple/com.apple.thirdactiveethernet.managed.plist
  Manifests/ManifestsApple/com.apple.thirdethernet.managed.plist
Labels: :memo:new manifest

#251 Fix Compressor Manifest
  Manifests/ManagedPreferencesApplications/com.apple.Compressor.plist
Labels: :warning:fix manifest

#253 Update Chrome manifest
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
Labels: :hammer_and_wrench:update manifest

#254 Update Restrictions manifests - Add missing pfm_supervised keys for required prefs
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
Labels: :hammer_and_wrench:update manifest

#256 Update Firefox manifest
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench:update manifest

#257 DigiDNA Default Values 2020-04
  Manifests/ManagedPreferencesApple/com.apple.GlobalPreferences.plist
  Manifests/ManagedPreferencesApple/com.apple.coreservices.uiagent.plist
  Manifests/ManagedPreferencesApplications/com.barebones.bbedit.plist
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench:update manifest

#258 Add FileVaultOptions Payload
  Icons/ManifestsApple/com.apple.MCX-FileVaultOptions.png
  Manifests/ManifestsApple/com.apple.MCX-EnergySaver.plist
  Manifests/ManifestsApple/com.apple.MCX-FileVaultOptions.plist
Labels: :hammer_and_wrench:update manifest, :memo:new manifest

#259 v.4 macOS & iOS Preference Additions
  Manifests/ManifestsApple/com.apple.AssetCache.managed.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench:update manifest

#260 DigiDNA Ethernet tweak
  Manifests/ManifestsApple/com.apple.firstactiveethernet.managed.plist
  Manifests/ManifestsApple/com.apple.firstethernet.managed.plist
  Manifests/ManifestsApple/com.apple.globalethernet.managed.plist
  Manifests/ManifestsApple/com.apple.secondactiveethernet.managed.plist
  Manifests/ManifestsApple/com.apple.secondethernet.managed.plist
  Manifests/ManifestsApple/com.apple.thirdactiveethernet.managed.plist
  Manifests/ManifestsApple/com.apple.thirdethernet.managed.plist
Labels: :warning:fix manifest

#261 Update Font payload
  Manifests/ManifestsApple/com.apple.font.plist
Labels: :hammer_and_wrench:update manifest

#262 Update com.google.Keystone.plist
  Manifests/ManagedPreferencesApplications/com.google.Keystone.plist
Labels: :hammer_and_wrench:update manifest

#263 Add com.apple.AdLib manifest
  Manifests/ManagedPreferencesApple/com.apple.AdLib.plist
Labels: :memo:new manifest

#265 Xsan Preferences manifest
  Icons/ManifestsApple/com.apple.xsan.preferences.png
  Manifests/ManifestsApple/com.apple.xsan.preferences.plist
Labels: :memo:new manifest

#266 Add missing documentation url & bump last modified time
  Manifests/ManifestsApple/com.apple.xsan.preferences.plist
Labels: :hammer_and_wrench:update manifest

#267 Add Certificate Root manifest
  Icons/ManifestsApple/com.apple.security.root.png
  Manifests/ManifestsApple/com.apple.security.root.plist
Labels: :memo:new manifest

#269 DigiDNA Web Content Filter
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
Labels: :hammer_and_wrench:update manifest
