Repository ProfileManifests/ProfileManifests, pull requests merged in 2020-05, with the labels that each got.

#272 Update Firefox manifest
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench:update manifest

#273 Update Edge preference descriptions based on doc changes
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench:update manifest

#276 DigiDNA Range Corrections
  Manifests/ManagedPreferencesApplications/com.trusourcelabs.NoMAD.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.login.ad.plist
  Manifests/ManifestsApple/com.apple.loginwindow.plist
Labels: :warning:fix manifest

#275 Edge manifest update
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench:update manifest

#277 Update Zoom manifest
  Manifests/ManagedPreferencesApplications/us.zoom.config.plist
Labels: :hammer_and_wrench:update manifest

#278 DigiDNA Network Usage Rules
  Manifests/ManifestsApple/com.apple.networkusagerules.plist
Labels: :hammer_and_wrench:update manifest

#280 Add a few default values to placeholders in com.trusourcelabs.NoMAD.plist
  Manifests/ManagedPreferencesApplications/com.trusourcelabs.NoMAD.plist
Labels: :hammer_and_wrench:update manifest

#279 Update Microsoft Update manifest
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :hammer_and_wrench:update manifest

#281 Update com.apple.touristd.plist
  Manifests/ManagedPreferencesApple/com.apple.touristd.plist
Labels: :hammer_and_wrench:update manifest, :warning:fix manifest

#282 Add AggressiveUpdateNotificationDays to munki manifest
  Manifests/ManagedPreferencesApplications/ManagedInstalls.plist
Labels: :hammer_and_wrench:update manifest

#283 Update Munki manifest
  Manifests/ManagedPreferencesApplications/ManagedInstalls.plist
Labels: :hammer_and_wrench:update manifest, :warning:fix manifest

#284 Fix typo in Catalina Mac Basics key name
  Manifests/ManagedPreferencesApple/com.apple.touristd.plist
Labels: :warning:fix manifest
