Repository ProfileManifests/ProfileManifests, pull requests merged in 2020-02, with the labels that each got.

#221 Fix and update iOS Restrictions payload
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
Labels: :hammer_and_wrench:update manifest

#223 Add System Logging payload - com.apple.system.logging
  Icons/ManifestsApple/com.apple.system.logging.png
  Manifests/ManifestsApple/com.apple.system.logging.plist
Labels: :memo:new manifest

#218 DigiDNA Software Updates
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
Labels: :hammer_and_wrench:update manifest

#224 Add LegacySameSiteCookieBehaviorEnabled & LegacySameSiteCookieBehavio…
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
Labels: :hammer_and_wrench:update manifest

#225 Adding missing key and update another to Google Chrome
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/index
Labels: :hammer_and_wrench:update manifest

#227 Update DefaultInsecureContentSetting preference
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench:update manifest

#226 BIG Firefox manifest update
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench:update manifest

#228 macOSLAPS update
  Manifests/ManagedPreferencesApplications/edu.psu.macoslaps.plist
Labels: :hammer_and_wrench:update manifest

#230 Add missing 'None' option for ChangePasswordType preference
  Manifests/ManagedPreferencesApplications/com.trusourcelabs.NoMAD.plist
Labels: :hammer_and_wrench:update manifest

#233 DigiDNA Passcode tweaks
  Manifests/ManifestsApple/com.apple.mobiledevice.passwordpolicy.plist
Labels: :warning:fix manifest
