Repository ProfileManifests/ProfileManifests, pull requests merged in 2020-08, with the labels that each got.

#330 Update Chrome manifest
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
Labels: :hammer_and_wrench: update manifest

#333 Update Global Preferences manifest
  Manifests/ManagedPreferencesApple/com.apple.GlobalPreferences.plist
Labels: :hammer_and_wrench: update manifest

#332 Update Brave manifest
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Resources/ChromeToBrave/ChromeToBrave.py
Labels: :hammer_and_wrench: update manifest

#335 Handbrake config and icon
  Icons/ManagedPreferencesApplications/fr.handbrake.HandBrake.png
  Manifests/ManagedPreferencesApplications/fr.handbrake.HandBrake.plist
Labels: :memo: new manifest

#334 Removal of erroneous RecentWhatsNewPanelVersion key
  Manifests/ManagedPreferencesApplications/com.apple.logic10.plist
Labels: :hammer_and_wrench: update manifest

#337 Update VLC manifest
  Manifests/ManagedPreferencesApplications/org.videolan.vlc.plist
Labels: :hammer_and_wrench: update manifest

#338 Update DetectX Swift manifest
  Manifests/ManagedPreferencesApplications/com.sqwarq.DetectX-Swift.plist
Labels: :hammer_and_wrench: update manifest

#339 Update AirServer manifest
  Manifests/ManagedPreferencesApplications/com.pratikkumar.airserver-mac.plist
Labels: :hammer_and_wrench: update manifest

#345 Add Unity manifest & icon
  Icons/ManagedPreferencesApplications/com.unity3d.UnityEditor5.x.png
  Manifests/ManagedPreferencesApplications/com.unity3d.UnityEditor5.x.plist
Labels: :memo: new manifest

#343 FxFactory preferences
  Icons/ManagedPreferencesApplications/com.fxfactory.FxFactory.png
  Manifests/ManagedPreferencesApplications/com.fxfactory.FxFactory.plist
Labels: :memo: new manifest

#341 McNeel Rhinoceros
  Icons/ManagedPreferencesApplications/com.mcneel.rhinoceros.png
  Manifests/ManagedPreferencesApplications/com.mcneel.rhinoceros.plist
Labels: :memo: new manifest

#340 Update BBEdit manifest
  Manifests/ManagedPreferencesApplications/com.barebones.bbedit.plist
Labels: :hammer_and_wrench: update manifest

#348 Update Microsoft Edge manifest (v85)
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench: update manifest

#352 Add mid-2020 iMac to touristd manifest
  Manifests/ManagedPreferencesApple/com.apple.touristd.plist
Labels: :hammer_and_wrench: update manifest

#351 Add Add Printer manifest and icon
  Icons/ManagedPreferencesApple/com.apple.print.add.png
  Manifests/ManagedPreferencesApple/com.apple.print.add.plist
Labels: :memo: new manifest

#353 DigiDNA Aug 2020 tweaks
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
  Manifests/ManagedPreferencesApplications/com.unity3d.UnityEditor5.x.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.eas.account.plist
Labels: :hammer_and_wrench: update manifest

#349 Update Microsoft Edge manifest (v86)
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench: update manifest

#357 Fix Google Drive FS pfm_types
  Manifests/ManagedPreferencesApplications/com.google.drivefs.settings.plist
Labels: :warning: fix manifest

#360 Add VirtualReality dict to Permissions
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench: update manifest
