Repository ProfileManifests/ProfileManifests, pull requests merged in 2021-07, with the labels that each got.

#445 Add bundleIDsToBlock to Big Sur Blocker
  Manifests/ManagedPreferencesApplications/com.hjuutilainen.bigsurblocker.plist
Labels: :hammer_and_wrench: update manifest

#427 DigiDNA System Extension Policy
  Manifests/ManifestsApple/com.apple.system-extension-policy.plist
Labels: :memo: new manifest

#436 DigiDNA iOS 14.5 / macOS 11.3 updates
  Manifests/ManifestsApple/com.apple.airplay.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess.new.plist
  Manifests/ManifestsApple/com.apple.appstore.plist
  Manifests/ManifestsApple/com.apple.desktop.plist
  Manifests/ManifestsApple/com.apple.eas.account.plist
  Manifests/ManifestsApple/com.apple.finder.plist
  Manifests/ManifestsApple/com.apple.gamed.plist
  Manifests/ManifestsApple/com.apple.proxy.http.global.plist
  Manifests/ManifestsApple/com.apple.syspolicy.kernel-extension-policy.plist
  Manifests/ManifestsApple/com.apple.universalaccess.plist
  Manifests/ManifestsApple/com.apple.webClip.managed.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
  Manifests/ManifestsApple/com.apple.wifi.managed.plist
Labels: :hammer_and_wrench: update manifest

#442 DigiDNA Adding the MDM manifest
  Manifests/ManifestsApple/com.apple.mdm.plist
  Resources/ManifestsToConvert/com.apple.mdm manifest.plist
Labels: :memo: new manifest

#449 DigiDNA PKCS12 manifest update
  Manifests/ManifestsApple/com.apple.security.pkcs12.plist
Labels: :hammer_and_wrench: update manifest

#452 Books - Added Welcome Screen Suppression for macOS 10.15+
  Manifests/ManagedPreferencesApple/com.apple.iBooksX.plist
Labels: :hammer_and_wrench: update manifest

#453 Safari - Added Default Browser Banner Suppression
  Manifests/ManagedPreferencesApple/com.apple.safari.plist
Labels: :hammer_and_wrench: update manifest

#455 Update pfm_segments for BBEdit
  Manifests/ManagedPreferencesApplications/com.barebones.bbedit.plist
Labels: :warning: fix manifest
