Repository ProfileManifests/ProfileManifests, pull requests merged in 2021-11, with the labels that each got.

#465 No need to make com.apple.dock "static-only" pref key an inverted value
  Manifests/ManifestsApple/com.apple.dock.plist
Labels: :warning: fix manifest, :hammer_and_wrench: update manifest

#466 Add Forcepoint System Preference Pane
  Manifests/ManifestsApple/com.apple.systempreferences.plist
Labels: :hammer_and_wrench: update manifest

#471 Move orphaned pfm_title key into parent object
  Manifests/ManifestsApple/com.apple.familycontrols.timelimits.v2.plist
Labels: :warning: fix manifest
