Repository ProfileManifests/ProfileManifests, pull requests merged in 2021-12, with the labels that each got.

#478 Add MunkiAdmin manifest
  Icons/ManagedPreferencesApplications/com.hjuutilainen.MunkiAdmin.png
  Manifests/ManagedPreferencesApplications/com.hjuutilainen.MunkiAdmin.plist
Labels: :memo: new manifest, :+1: good first issue

#477 Add PasswordGrouping and PasswordSeparator to edu.psu.macoslaps
  Manifests/ManagedPreferencesApplications/edu.psu.macoslaps.plist
Labels: :hammer_and_wrench: update manifest

#476 Add ManifestURL key to ManagedInstalls domain
  Manifests/ManagedPreferencesApplications/ManagedInstalls.plist
Labels: :hammer_and_wrench: update manifest

#475 Add allowUnmappedUsers key to com.apple.security.smartcard
  Manifests/ManifestsApple/com.apple.security.smartcard.plist
Labels: :hammer_and_wrench: update manifest

#474 Add Particulars app and widget settings
  Icons/ManagedPreferencesApplications/net.glencode.Particulars.Widget.png
  Icons/ManagedPreferencesApplications/net.glencode.Particulars.png
  Manifests/ManagedPreferencesApplications/net.glencode.Particulars.Widget.plist
  Manifests/ManagedPreferencesApplications/net.glencode.Particulars.plist
Labels: :memo: new manifest

#473 Adjustments to com.apple.finder, including addition of ShowRecentTags
  Manifests/ManifestsApple/com.apple.finder.plist
Labels: :hammer_and_wrench: update manifest

#481 Change com.apple.extensiblesso replicationTime pfm_type to integer
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
Labels: :warning: fix manifest

#483 Slack: added Default Workspace key
  Manifests/ManagedPreferencesApplications/com.tinyspeck.slackmacgap.plist
Labels: :hammer_and_wrench: update manifest

#480 Fix pfm_documentation_url keys
  Manifests/ManagedPreferencesApplications/com.jamf.connect.sync.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.NoMADPro.plist
  Resources/ManifestsToConvert/menu.nomad.actions.plist
Labels: :warning: fix manifest

#460 DigiDNA WWDC 2021
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
  Manifests/ManifestsApple/com.apple.dnsProxy.managed.plist
  Manifests/ManifestsApple/com.apple.eas.account.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
  Manifests/ManifestsApple/com.apple.mdm.plist
  Manifests/ManifestsApple/com.apple.screensaver.plist
  Manifests/ManifestsApple/com.apple.screensaver.user.plist
  Manifests/ManifestsApple/com.apple.security.firewall.plist
  Manifests/ManifestsApple/com.apple.system-extension-policy.plist
  Manifests/ManifestsApple/com.apple.tvremote.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
Labels: :hammer_and_wrench: update manifest

#467 DigiDNA Web Content Filter further work
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
Labels: :warning: fix manifest

#468 DigiDNA require values
  Manifests/ManagedPreferencesApplications/com.jamf.connect.sync.plist
  Manifests/ManifestsApple/com.apple.AIM.account.plist
  Manifests/ManifestsApple/com.apple.Dictionary.plist
  Manifests/ManifestsApple/com.apple.jabber.account.plist
Labels: :warning: fix manifest

#489 Set all `pfm_format_version` to `<integer>1</integer>`
  Manifests/ManagedPreferencesApple/com.apple.Safari.SandboxBroker.plist
  Manifests/ManagedPreferencesApple/com.apple.print.add.plist
  Manifests/ManagedPreferencesApple/com.apple.safari.plist
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.github.ants-framework.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
  Manifests/ManifestsApple/com.apple.MCX-MobileAccounts.plist
  Manifests/ManifestsApple/com.apple.MCX-TimeServer.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
  Manifests/ManifestsApple/com.apple.asam.plist
  Manifests/ManifestsApple/com.apple.dock.plist
  Manifests/ManifestsApple/com.apple.security.firewall.plist
  Manifests/ManifestsApple/com.apple.syspolicy.kernel-extension-policy.plist
Labels: :hammer_and_wrench: update manifest

#490 DigiDNA extensible SSO Microsoft and new keys
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
Labels: :hammer_and_wrench: update manifest

#492 Replace instances of smart single and double quotes
  Manifests/ManagedPreferencesApplications/com.apple.Enterprise-Connect.plist
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.citrix.receiver.nomas.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.jamf.connect.login-Okta.plist
  Manifests/ManagedPreferencesApplications/com.jamf.connect.login-OpenID.plist
  Manifests/ManagedPreferencesApplications/com.jamf.connect.shares.plist
  Manifests/ManagedPreferencesApplications/com.jamf.connect.sync.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Outlook.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.office.plist
  Manifests/ManagedPreferencesApplications/com.trusourcelabs.NoMAD.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.NoMADPro.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.login.ad.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.shares.plist
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
  Manifests/ManifestsApple/Configuration.plist
  Manifests/ManifestsApple/com.apple.ADCertificate.managed.plist
  Manifests/ManifestsApple/com.apple.DirectoryService.managed.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.asam.plist
  Manifests/ManifestsApple/com.apple.caldav.account.plist
  Manifests/ManifestsApple/com.apple.dashboard.plist
  Manifests/ManifestsApple/com.apple.dock.plist
  Manifests/ManifestsApple/com.apple.loginwindow.plist
  Manifests/ManifestsApple/com.apple.mcxloginscripts.plist
  Manifests/ManifestsApple/com.apple.mobiledevice.passwordpolicy.plist
  Manifests/ManifestsApple/com.apple.security.scep.plist
  Manifests/ManifestsApple/com.apple.security.smartcard.plist
  Manifests/ManifestsApple/com.apple.shareddeviceconfiguration.plist
  Manifests/ManifestsApple/com.apple.systempolicy.control.plist
  Manifests/ManifestsApple/com.apple.webClip.managed.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
  Manifests/ManifestsApple/com.apple.wifi.managed.plist
Labels: :warning: fix manifest

#491 Fix `pfm_default` values and types
  Manifests/ManagedPreferencesApplications/com.apple.Enterprise-Connect.plist
  Manifests/ManagedPreferencesApplications/com.apple.logic10.plist
  Manifests/ManagedPreferencesApplications/com.barebones.bbedit.plist
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.OneDriveUpdater.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.SkypeForBusiness.plist
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
  Manifests/ManagedPreferencesDeveloper/com.profilecreator.developer.popupbutton.plist
  Manifests/ManagedPreferencesDeveloper/com.profilecreator.developer.textfieldfloat.plist
  Manifests/ManifestsApple/com.apple.eas.account.plist
  Manifests/ManifestsApple/com.apple.ews.account.plist
  Manifests/ManifestsApple/com.apple.mail.managed.plist
  Manifests/ManifestsApple/com.apple.universalaccess.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
Labels: :hammer_and_wrench: update manifest

#493 Add scheme to front of example URL in com.profilecreator.developer.substitution_variables
  Manifests/ManagedPreferencesDeveloper/com.profilecreator.developer.substitution_variables.plist
Labels: :hammer_and_wrench: update manifest

#494 Adjust range list values for AirServer audio buffer size
  Manifests/ManagedPreferencesApplications/com.pratikkumar.airserver-mac.plist
Labels: :hammer_and_wrench: update manifest
