Repository ProfileManifests/ProfileManifests, pull requests merged in 2021-02, with the labels that each got.

#408 DigiDNA com.apple.print.add update
  Manifests/ManagedPreferencesApple/com.apple.print.add.plist
Labels: :hammer_and_wrench: update manifest

#405 DigiDNA Proxy Manifests Updates
  Manifests/ManifestsApple/com.apple.SystemConfiguration.plist
  Manifests/ManifestsApple/com.apple.proxy.http.global.plist
Labels: :hammer_and_wrench: update manifest

#415 Add SupportApp and icon
  Icons/ManagedPreferencesApplications/nl.root3.support.png
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
Labels: :memo: new manifest

#416 SupportApp patch
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
Labels: :warning: fix manifest

#418 Add Extensible Single-Sign On payload
  Icons/ManifestsApple/com.apple.extensiblesso.png
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
Labels: :memo: new manifest
