Repository ProfileManifests/ProfileManifests, pull requests merged in 2021-06, with the labels that each got.

#432 DigiDNA Mail tweaks
  Manifests/ManifestsApple/com.apple.mail.managed.plist
Labels: :warning: fix manifest

#433 DigiDNA Exchange tweak
  Manifests/ManifestsApple/com.apple.eas.account.plist
Labels: :warning: fix manifest

#435 DigiDNA Web Content Filter tweak
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
Labels: :warning: fix manifest

#420 Add Nudge
  Icons/ManagedPreferencesApplications/com.github.macadmins.Nudge.png
  Manifests/ManagedPreferencesApplications/com.github.macadmins.Nudge.plist
Labels: :memo: new manifest

#441 Add Big Sur Mac Basics & M1 iMacs
  Manifests/ManagedPreferencesApple/com.apple.touristd.plist
Labels: :hammer_and_wrench: update manifest
