Repository ProfileManifests/ProfileManifests, pull requests merged in 2022-02, with the labels that each got.

#512 Add EnableODIgnore for OneDrive
  Manifests/ManagedPreferencesApplications/com.microsoft.OneDrive.plist
Labels: :hammer_and_wrench: update manifest

#520 Add com.apple.sharingd
  Icons/ManagedPreferencesApple/com.apple.sharingd.png
  Manifests/ManagedPreferencesApple/com.apple.sharingd.plist
Labels: :memo: new manifest

#521 AirDrop (macOS) related changes to Restrictions & Network Browser
  Manifests/ManagedPreferencesApple/com.apple.NetworkBrowser.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench: update manifest

#524 DigiDNA MCX Wi-Fi Managed correction
  Manifests/ManifestsApple/com.apple.MCX-WiFiManagedSettings.plist
Labels: :warning: fix manifest

#523 DigiDNA MCX Guest Account
  Manifests/ManifestsApple/com.apple.MCX-GuestAccount.plist
Labels: :memo: new manifest

#529 DigiDNA Dock Hot Corners
  Manifests/ManifestsApple/com.apple.dock.plist
Labels: :hammer_and_wrench: update manifest

#530 com.jelockwood.pinpoint
  Icons/ManagedPreferencesApplications/com.jelockwood.pinpoint.png
  Manifests/ManagedPreferencesApplications/com.jelockwood.pinpoint.plist
Labels: :memo: new manifest

#522 com.apple.mcxprinting
  Icons/ManifestsApple/com.apple.mcxprinting.png
  Manifests/ManifestsApple/com.apple.mcxprinting.plist
Labels: :memo: new manifest

#533 Add missing PayloadDisplayName for SSO
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
Labels: :warning: fix manifest

#532 Added Install or Defer manifest
  Manifests/ManagedPreferencesApplications/com.github.mpanighetti.install-or-defer.plist
Labels: :memo: new manifest, :+1: good first issue
