Repository ProfileManifests/ProfileManifests, pull requests merged in 2022-11, with the labels that each got.

#572 Added "HubsSidebarEnabled" to com.microsoft.Edge
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench: update manifest

#570 Xcreds shouldShowCloudLoginByDefault passwordElementID idpHostNames keys added
  Manifests/ManagedPreferencesApplications/com.twocanoes.xcreds.plist
Labels: :hammer_and_wrench: update manifest

#566 Add EnableAppleLogin Preference to Zoom payload
  Manifests/ManagedPreferencesApplications/us.zoom.config.plist
Labels: :hammer_and_wrench: update manifest

#571 Brave-specific Preference Fix
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Resources/ChromeToBrave/com.brave.Browser-specific.plist
Labels: :warning: fix manifest, :hammer_and_wrench: update manifest

#562 Microsoft defender update
  Manifests/ManagedPreferencesApplications/com.microsoft.wdav.plist
Labels: :hammer_and_wrench: update manifest

#577 Add 1Password 8 Payload Manifest
  Icons/ManagedPreferencesApplications/com.1password.1password.png
  Manifests/ManagedPreferencesApplications/com.1password.1password.plist
  Manifests/ManagedPreferencesApplications/com.agilebits.onepassword7.plist
Labels: :memo: new manifest

#568 DigiDNA October 2022 updates
  Manifests/ManagedPreferencesApplications/us.zoom.config.plist
  Manifests/ManifestsApple/com.apple.airprint.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.dnsProxy.managed.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
  Manifests/ManifestsApple/com.apple.mcxprinting.plist
  Manifests/ManifestsApple/com.apple.notificationsettings-iOS.plist
  Manifests/ManifestsApple/com.apple.notificationsettings-macOS.plist
Labels: :hammer_and_wrench: update manifest
