Repository ProfileManifests/ProfileManifests, pull requests merged in 2022-01, with the labels that each got.

#498 Add new/updated MAU update channel names
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :hammer_and_wrench: update manifest

#499 Fix recent Microsoft AutoUpdate wording around ChannelName usage
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :warning: fix manifest, :hammer_and_wrench: update manifest

#501 Removed note on Custom channel
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :hammer_and_wrench: update manifest

#502 Update config key documentation
  Manifests/ManagedPreferencesApplications/edu.psu.macoslaps.plist
Labels: :+1: good first issue, :hammer_and_wrench: update manifest

#503 DigiDNA Parental Controls: Application Access improvements
  Manifests/ManifestsApple/com.apple.applicationaccess.new.plist
Labels: :hammer_and_wrench: update manifest

#504 DigiDNA Restrictions tweaks
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench: update manifest

#505 Finder: Added FXRemoveOldTrashItems
  Manifests/ManifestsApple/com.apple.finder.plist
Labels: :hammer_and_wrench: update manifest

#497 Add additional Zoom preferences
  Manifests/ManagedPreferencesApplications/us.zoom.config.plist
Labels: :hammer_and_wrench: update manifest

#506 Update nl.root3.support.plist
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
Labels: :hammer_and_wrench: update manifest

#509 DigiDNA self-exclusion removed in the Passcode manifest
  Manifests/ManifestsApple/com.apple.mobiledevice.passwordpolicy.plist
Labels: :warning: fix manifest

#510 Add pfm_documentation_url for Outlook
  Manifests/ManagedPreferencesApplications/com.microsoft.Outlook.plist
Labels: :hammer_and_wrench: update manifest

#507 Update com.microsoft.autoupdate2.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
Labels: :hammer_and_wrench: update manifest

#513 Minor updates for com.microsoft.OneDriveUpdater
  Manifests/ManagedPreferencesApplications/com.microsoft.OneDriveUpdater.plist
Labels: :hammer_and_wrench: update manifest

#514 Update Firefox
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench: update manifest

#511 Add new Zoom preferences
  Manifests/ManagedPreferencesApplications/us.zoom.config.plist
Labels: :hammer_and_wrench: update manifest

#515 Update macOS restrictions
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench: update manifest
