Repository ProfileManifests/ProfileManifests, pull requests merged in 2022-08, with the labels that each got.

#555 Add CrowdStrike Falcon sensor settings manifest
  Icons/ManagedPreferencesApplications/com.crowdstrike.falcon.png
  Manifests/ManagedPreferencesApplications/com.crowdstrike.falcon.plist
Labels: :memo: new manifest

#549 DigiDNA May 2022 updates
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.eas.account.plist
  Manifests/ManifestsApple/com.apple.ews.account.plist
  Manifests/ManifestsApple/com.apple.security.firewall.plist
Labels: :warning: fix manifest, :hammer_and_wrench: update manifest

#554 Update com.apple.loginwindow.plist
  Manifests/ManifestsApple/com.apple.loginwindow.plist
Labels: :hammer_and_wrench: update manifest

#560 Google Drive for desktop
  Icons/ManagedPreferencesApplications/com.google.drivefs.settings.png
  Manifests/ManagedPreferencesApplications/com.google.drivefs.settings.plist
Labels: :hammer_and_wrench: update manifest

#557 Rewrite of Google Santa to match current docs
  Manifests/ManagedPreferencesApplications/com.google.santa.plist
Labels: :hammer_and_wrench: update manifest

#558 Added Initial Manifest for XCreds
  Icons/ManagedPreferencesApplications/com.twocanoes.xcreds.png
  Manifests/ManagedPreferencesApplications/com.twocanoes.xcreds.plist
Labels: :memo: new manifest
