Repository ProfileManifests/ProfileManifests, pull requests merged in 2022-03, with the labels that each got.

#543 Add note about Fast User Switching default behavior
  Manifests/ManagedPreferencesApple/com.apple.GlobalPreferences.plist
Labels: :hammer_and_wrench: update manifest

#538 Add allowApplePersonalizedAdvertising to com.apple.AdLib
  Manifests/ManagedPreferencesApple/com.apple.AdLib.plist
Labels: :hammer_and_wrench: update manifest

#536 Create com.apple.controlcenter.plist
  Manifests/ManagedPreferencesApple/com.apple.controlcenter.plist
Labels: :memo: new manifest

#535 Create com.apple.preferences.sharing.SharingPrefsExtension.plist
  Manifests/ManagedPreferencesApple/com.apple.preferences.sharing.SharingPrefsExtension.plist
Labels: :memo: new manifest

#495 Add pre-commit configuration that catches common issues with preference manifests
  .pre-commit-config.yaml
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/menu.nomad.NoMADPro.plist
Labels: :rocket: enhancement
