Repository ProfileManifests/ProfileManifests, pull requests merged in 2023-08, with the labels that each got.

#624 XCreds 3.1 update
  Manifests/ManagedPreferencesApplications/com.twocanoes.xcreds.plist
Labels: :hammer_and_wrench: update manifest

#588 DigiDNA minor release updates
  Manifests/ManifestsApple/com.apple.domains.plist
  Manifests/ManifestsApple/com.apple.security.acme.plist
  Manifests/ManifestsApple/com.apple.servicemanagement.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
Labels: :hammer_and_wrench: update manifest

#620 Added DNS over HTTPS mode & template and policy refresh interval
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
Labels: :hammer_and_wrench: update manifest

#625 DigiDNA XCreds correction
  Manifests/ManagedPreferencesApplications/com.twocanoes.xcreds.plist
Labels: :warning: fix manifest

#623 Add profile manifests for Alectrona Patch
  Icons/ManagedPreferencesApplications/com.alectrona.patch.png
  Manifests/ManagedPreferencesApplications/com.alectrona.patch-agent.plist
  Manifests/ManagedPreferencesApplications/com.alectrona.patch-notifier.plist
  Manifests/ManagedPreferencesApplications/com.alectrona.patch.plist
Labels: :memo: new manifest
