Repository ProfileManifests/ProfileManifests, pull requests merged in 2023-11, with the labels that each got.

#639 Add manifests for Tailscale
  Icons/ManagedPreferencesApplications/io.tailscale.ipn.macos.png
  Icons/ManagedPreferencesApplications/io.tailscale.ipn.macsys.png
  Manifests/ManagedPreferencesApplications/io.tailscale.ipn.macos.plist
  Manifests/ManagedPreferencesApplications/io.tailscale.ipn.macsys.plist
Labels: :memo: new manifest

#629 DigiDNA Aug 2023
  Manifests/ManagedPreferencesApple/com.apple.Spotlight.plist
  Manifests/ManagedPreferencesApplications/com.barebones.bbedit.plist
  Manifests/ManagedPreferencesApplications/com.github.mpanighetti.install-or-defer.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.OneDrive.plist
  Manifests/ManagedPreferencesApplications/us.zoom.config.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
  Manifests/ManifestsApple/com.apple.dashboard.plist
  Manifests/ManifestsApple/com.apple.domains.plist
  Manifests/ManifestsApple/com.apple.ews.account.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
  Manifests/ManifestsApple/com.apple.mail.managed.plist
  Manifests/ManifestsApple/com.apple.systempreferences.plist
Labels: :warning: fix manifest

#646 DigiDNA Nov 2023
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
  Manifests/ManifestsApple/com.apple.dnsSettings.managed.plist
  Resources/ChromeToBrave/com.brave.Browser-specific.plist
Labels: :hammer_and_wrench: update manifest
