Repository ProfileManifests/ProfileManifests, pull requests merged in 2023-02, with the labels that each got.

#600 Adding Jamf Trust
  Icons/ManagedPreferencesApplications/com.jamf.trust.png
  Manifests/ManagedPreferencesApplications/com.jamf.trust.plist
Labels: :memo: new manifest, :+1: good first issue

#601 MacOSLAPS update
  Manifests/ManagedPreferencesApplications/edu.psu.macoslaps.plist
Labels: :hammer_and_wrench: update manifest

#596 Update nl.root3.support.plist
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
Labels: :hammer_and_wrench: update manifest

#595 Add Freeform manifest
  Icons/ManagedPreferencesApple/com.apple.freeform.png
  Manifests/ManagedPreferencesApple/com.apple.freeform.plist
Labels: :memo: new manifest
