Repository ProfileManifests/ProfileManifests, pull requests merged in 2024-09, with the labels that each got.

#689 Update SkipKeys Array for macOS and iOS:
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
Labels: :hammer_and_wrench: update manifest

#684 Add new desktop info configurations
  Icons/ManagedPreferencesApplications/SupportCompanion.png
  Manifests/ManagedPreferencesApplications/SupportCompanion.plist
Labels: :hammer_and_wrench: update manifest

#691 DigiDNA Aug 2024
  Manifests/ManagedPreferencesApplications/com.github.macadmins.Nudge.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.autoupdate2.plist
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
  Manifests/ManifestsApple/com.apple.airprint.plist
  Manifests/ManifestsApple/com.apple.domains.plist
  Manifests/ManifestsApple/com.apple.education.plist
  Manifests/ManifestsApple/com.apple.ews.account.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
  Manifests/ManifestsApple/com.apple.loginwindow.plist
  Manifests/ManifestsApple/com.apple.mdm.plist
  Manifests/ManifestsApple/com.apple.security.firewall.plist
  Manifests/ManifestsApple/com.apple.system-extension-policy.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
  Manifests/ManifestsApple/com.apple.wifi.managed.plist
Labels: :warning: fix manifest

#690 Update de.fau.rrze.NetworkShareMounter.plist
  Manifests/ManagedPreferencesApplications/de.fau.rrze.NetworkShareMounter.plist
Labels: :hammer_and_wrench: update manifest

#698 Update de.fau.rrze.NetworkShareMounter.plist
  Manifests/ManagedPreferencesApplications/de.fau.rrze.NetworkShareMounter.plist
Labels: :hammer_and_wrench: update manifest

#686 Add com.cloudflare.warp manifest
  Icons/ManagedPreferencesApplications/com.cloudflare.warp.png
  Manifests/ManagedPreferencesApplications/com.cloudflare.warp.plist
Labels: :memo: new manifest

#699 Google Drive for Desktop - Remove Duplicate DisableMirroredFolders key
  Manifests/ManagedPreferencesApplications/com.google.drivefs.settings.plist
Labels: :hammer_and_wrench: update manifest

#702 Dock updates
  Manifests/ManifestsApple/com.apple.dock.plist
Labels: :hammer_and_wrench: update manifest

#703 Microsoft Defender update
  Manifests/ManagedPreferencesApplications/com.microsoft.wdav.plist
Labels: :hammer_and_wrench: update manifest

#704 Particulars 60
  Manifests/ManagedPreferencesApplications/net.glencode.Particulars.plist
Labels: :hammer_and_wrench: update manifest

#708 New PR to add Elevate24
  Icons/ManagedPreferencesApplications/com.jigsaw24.Elevate24.png
  Manifests/ManagedPreferencesApplications/com.jigsaw24.Elevate24.plist
Labels: :memo: new manifest
