Repository ProfileManifests/ProfileManifests, pull requests merged in 2024-10, with the labels that each got.

#709 Add 1.3.0 updates
  Manifests/ManagedPreferencesApplications/SupportCompanion.plist
Labels: :hammer_and_wrench: update manifest

#697 profile manifest for XCreds 5.0 (7176)
  Manifests/ManagedPreferencesApplications/com.twocanoes.xcreds.plist
Labels: :hammer_and_wrench: update manifest

#700 DigiDNA Sep 2024
  Manifests/ManagedPreferencesApplications/ManagedInstalls.plist
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.Edge.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.OneDrive.plist
  Manifests/ManagedPreferencesApplications/com.microsoft.office.plist
  Manifests/ManifestsApple/Configuration.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
  Manifests/ManifestsApple/com.apple.wifi.managed.plist
  Resources/ChromeToBrave/com.brave.Browser-specific.plist
Labels: :hammer_and_wrench: update manifest

#710 Add macOS 15.0 "Improve Search" preference
  Manifests/ManagedPreferencesApple/com.apple.assistant.support.plist
Labels: :hammer_and_wrench: update manifest

#707 Clear deprecation warning from the index-updating script
  updateIndexes.py
Labels: :rocket: enhancement

#706 System Preferences update
  Manifests/ManifestsApple/com.apple.systempreferences.plist
Labels: :warning: fix manifest, :hammer_and_wrench: update manifest

#713 Google drive AutomaticErrorReporting
  Manifests/ManagedPreferencesApplications/com.google.drivefs.settings.plist
Labels: :hammer_and_wrench: update manifest

#701 DigiDNA major OS version updates
  Manifests/ManifestsApple/Configuration.plist
  Manifests/ManifestsApple/com.apple.MCX.FileVault2.plist
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
  Manifests/ManifestsApple/com.apple.airplay.plist
  Manifests/ManifestsApple/com.apple.airprint.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess.new.plist
  Manifests/ManifestsApple/com.apple.cellularprivatenetwork.managed.plist
  Manifests/ManifestsApple/com.apple.dnsProxy.managed.plist
  Manifests/ManifestsApple/com.apple.dnsSettings.managed.plist
  Manifests/ManifestsApple/com.apple.domains.plist
  Manifests/ManifestsApple/com.apple.education.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
  Manifests/ManifestsApple/com.apple.font.plist
  Manifests/ManifestsApple/com.apple.loginwindow.plist
  Manifests/ManifestsApple/com.apple.mdm.plist
  Manifests/ManifestsApple/com.apple.mobiledevice.passwordpolicy.plist
  Manifests/ManifestsApple/com.apple.proxy.http.global.plist
  Manifests/ManifestsApple/com.apple.relay.managed.plist
  Manifests/ManifestsApple/com.apple.security.acme.plist
  Manifests/ManifestsApple/com.apple.security.firewall.plist
  Manifests/ManifestsApple/com.apple.security.pem.plist
  Manifests/ManifestsApple/com.apple.security.pkcs1.plist
  Manifests/ManifestsApple/com.apple.security.pkcs12.plist
  Manifests/ManifestsApple/com.apple.security.root.plist
  Manifests/ManifestsApple/com.apple.security.scep.plist
  Manifests/ManifestsApple/com.apple.system-extension-policy.plist
  Manifests/ManifestsApple/com.apple.systempolicy.control.plist
  Manifests/ManifestsApple/com.apple.webcontent-filter.plist
  Manifests/ManifestsApple/com.apple.wifi.managed.plist
Labels: :hammer_and_wrench: update manifest

#716 Minor OS version updates
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench: update manifest

#717 profile manifest for XCreds 5.1 (7264)
  Manifests/ManagedPreferencesApplications/com.twocanoes.xcreds.plist
Labels: :hammer_and_wrench: update manifest
