Repository ProfileManifests/ProfileManifests, pull requests merged in 2025-01, with the labels that each got.

#739 [Standardization] Manifests Formatting Updates
  Manifests/ManagedPreferencesApplications/SupportCompanion.plist
  Manifests/ManagedPreferencesApplications/com.jamf.setupmanager.plist
  Manifests/ManagedPreferencesApplications/com.jigsaw24.Elevate24.plist
  Manifests/ManagedPreferencesApplications/com.sentinelone.registration-token.plist
  Manifests/ManagedPreferencesApplications/de.fau.rrze.NetworkShareMounter.plist
Labels: :hammer_and_wrench: update manifest

#747 Privileges update
  Manifests/ManagedPreferencesApplications/corp.sap.privileges.plist
Labels: :hammer_and_wrench: update manifest

#746 Add Docker Desktop
  Icons/ManagedPreferencesApplications/com.docker.config.png
  Manifests/ManagedPreferencesApplications/com.docker.config.plist
Labels: :memo: new manifest

#748 Forwarding DigiDNA/ProfileManifests#11 upstream
  Icons/ManagedPreferencesApplications/com.parallels.dektop.managedprefs.png
  Manifests/ManagedPreferencesApplications/com.parallels.dektop.managedprefs.plist
Labels: :memo: new manifest

#750 Supplement missing require tags in conditionals
  Manifests/ManagedPreferencesApple/com.apple.finder.plist
  Manifests/ManagedPreferencesApplications/com.agilebits.onepassword7.plist
  Manifests/ManagedPreferencesApplications/com.brave.Browser.plist
  Manifests/ManagedPreferencesApplications/com.google.Chrome.plist
  Manifests/ManagedPreferencesApplications/com.google.santa.plist
  Manifests/ManagedPreferencesApplications/com.hjuutilainen.MunkiAdmin.plist
  Manifests/ManagedPreferencesApplications/corp.sap.privileges.plist
  Manifests/ManagedPreferencesApplications/nl.root3.support.plist
  Manifests/ManifestsApple/com.apple.AssetCache.managed.plist
  Manifests/ManifestsApple/com.apple.dnsSettings.managed.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
Labels: :warning: fix manifest

#749 Add super (S.U.P.E.R.M.A.N.)
  Manifests/ManagedPreferencesApplications/com.macjutsu.super.plist
Labels: :memo: new manifest

#744 [com.apple.Safari.SandboxBroker] Add AlwaysPromptForDownloadFolder
  Manifests/ManagedPreferencesApple/com.apple.Safari.SandboxBroker.plist
Labels: :hammer_and_wrench: update manifest

#742 Add Zscaler Client Connector
  Icons/ManagedPreferencesApplications/com.zscaler.installparams.png
  Manifests/ManagedPreferencesApplications/com.zscaler.installparams.plist
Labels: :memo: new manifest

#756 Minor OS update
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
Labels: :hammer_and_wrench: update manifest
