Repository ProfileManifests/ProfileManifests, pull requests merged in 2025-04, with the labels that each got.

#758 Tailscale: Add Preferences + Min Versions
  Manifests/ManagedPreferencesApplications/io.tailscale.ipn.macos.plist
  Manifests/ManagedPreferencesApplications/io.tailscale.ipn.macsys.plist
Labels: :hammer_and_wrench: update manifest

#776 OS version updates
  Manifests/ManifestsApple/com.apple.DiscRecording.plist
  Manifests/ManifestsApple/com.apple.MCX.FileVault2.plist
  Manifests/ManifestsApple/com.apple.SetupAssistant.managed.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-iOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-macOS.plist
  Manifests/ManifestsApple/com.apple.applicationaccess-tvOS.plist
  Manifests/ManifestsApple/com.apple.cellular.plist
  Manifests/ManifestsApple/com.apple.configurationprofile.identification.plist
  Manifests/ManifestsApple/com.apple.dnsSettings.managed.plist
  Manifests/ManifestsApple/com.apple.eas.account.plist
  Manifests/ManifestsApple/com.apple.extensiblesso.plist
  Manifests/ManifestsApple/com.apple.relay.managed.plist
  Manifests/ManifestsApple/com.apple.security.acme.plist
  Manifests/ManifestsApple/com.apple.security.scep.plist
  Manifests/ManifestsApple/com.apple.security.smartcard.plist
  Manifests/ManifestsApple/com.apple.xsan.plist
Labels: :hammer_and_wrench: update manifest

#772 Update webhook format in Jamf Setup Manager
  Manifests/ManagedPreferencesApplications/com.jamf.setupmanager.plist
Labels: :hammer_and_wrench: update manifest

#782 Adding com.dare.zappl.plist Manifest, V1.
  Icons/ManagedPreferencesApplications/com.dare.zappl.png
  Manifests/ManagedPreferencesApplications/com.dare.zappl.plist
Labels: :memo: new manifest, :+1: good first issue

#781 Update com.secondsonconsulting.baseline.plist
  Manifests/ManagedPreferencesApplications/com.secondsonconsulting.baseline.plist
Labels: :hammer_and_wrench: update manifest

#783 Firefox manifest correction
  Manifests/ManagedPreferencesApplications/org.mozilla.firefox.plist
Labels: :hammer_and_wrench: update manifest

#785 Zapple correction
  Icons/ManagedPreferencesApplications/com.dare.zappl.preferences.png
  Manifests/ManagedPreferencesApplications/com.dare.zappl.preferences.plist
Labels: :warning: fix manifest
